<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Top_Padel meke your improve</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="view/js/skel.min.js"></script>
		<script src="view/js/skel-panels.min.js"></script>
		<script src="view/js/init.js"></script>
		
			<!--<link rel="stylesheet" href="view/css/skel-noscript.css" />-->
		<!--	<link rel="stylesheet" href="view/css/style.css" />-->
		<link rel="stylesheet" href="view/css/style-desktop.css" />
		
		

    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  	<link rel="stylesheet" href="view/css/style.css">
  	<script >
  		
  			$(function() {
    
    		$('#date_reception').datepicker({
			dateFormat: 'dd/mm/yy', 
			changeMonth: true, 
			changeYear: true, 
			yearRange: '1940:2020',
			
			onSelect: function(selectedDate) {
			
			}
		});
    		
    	
  		});
  		
  		$(function() {
    
    		$('#departure_date').datepicker({
			dateFormat: 'dd/mm/yy', 
			changeMonth: true, 
			changeYear: true, 
			yearRange:  '2000:9999',//'1900:' + new Date().getFullYear(),
			
			onSelect: function(selectedDate) {
			
			}
		});
    		
    		
  		});
  		
  		
  	</script>
</head>
